<!DOCTYPE html>
<html>

<head>
  <title>Redirect</title>

  <!--Favicon-->
  <link rel="icon" type="image/x-icon" href="Assets/Images/Logo-favicon.png">
  <!--Bootstrap css CDN-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <!--Font Awesome for navbar only CDN-->
  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
  <!--Font Awesome for all project CDN-->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
  <!--My css file-->
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <!--Start section navbar-top-->
  <section class="navbar-top">
    <header>
      <div class="container-nav">
        <input type="checkbox" name="" id="check">
        <div class="logo-container">
          <a href="index.html" class="logo"><img src="assets/Images/Logo-favicon.png"></a>
        </div>
        <div class="nav-btn">
          <div class="nav-links">
            <ul>
              <li class="nav-link" style="--i: .85s">
                <a href="about-us.html" target="_blank">About Us<i class="fas fa-caret-down"></i></a>
                <div class="dropdown">
                  <ul>
                    <li class="dropdown-link">
                      <a href="company-profile.html">Company Profile</a>
                    </li>
                    <li class="dropdown-link">
                      <a href="our-customers.html">Our Customers</a>
                    </li>
                    <li class="dropdown-link">
                      <a href="achievements.html">Achievements</a>
                    </li>
                    <li class="dropdown-link">
                      <a href="what-do-people-say.html">What do people say about us</a>
                    </li>
                    <li class="dropdown-link">
                      <a href="Accreditation.html">Accreditation</a>
                    </li>
                    <div class="arrow"></div>
                  </ul>
                </div>
              </li>
              <li class="nav-link" style="--i: 1.1s">
                <a href="our-programmes.html">Our Programmes<i class="fas fa-caret-down"></i></a>
                <div class="dropdown">
                  <ul>
                    <li class="dropdown-link">
                      <a href="#">Language Courses<i class="fas fa-caret-down"></i></a>
                      <div class="dropdown second">
                        <ul>
                          <li class="dropdown-link">
                            <a href="#">English<i class="fas fa-caret-down"></i></a>
                            <div class="dropdown second">
                              <ul>
                                <li class="dropdown-link">
                                  <a href="language-courses/english/general-english-courses.html">General English
                                    Courses</a>
                                </li>
                                <li class="dropdown-link">
                                  <a href="language-courses/english/converstion-english-course.html">Converstion
                                    English Courses</a>
                                </li>
                                <li class="dropdown-link">
                                  <a href="language-courses/english/bussiness-english-courses.html">Bussiness English
                                    Courses</a>
                                </li>
                                <li class="dropdown-link">
                                  <a href="language-courses/english/english-for-kids-courses.html">English For Kids
                                    Courses</a>
                                </li>
                                <li class="dropdown-link">
                                  <a href="language-courses/english/TOEFL-and-IELTS-Preparation-Courses.html">TOEFL &
                                    IELTS Exam Preparation Courses</a>
                                </li>
                                <div class="arrow"></div>
                              </ul>
                            </div>
                          </li>
                          <li class="dropdown-link">
                            <a href="language-courses/arabic-courses-for-forigner.html">Arabic courses for
                              foreigner</a>
                          </li>
                          <li class="dropdown-link">
                            <a href="language-courses/other-language-courses.html">Other Language Courses</a>
                          </li>
                          <div class="arrow"></div>
                        </ul>
                      </div>
                    </li>
                    <li class="dropdown-link">
                      <a href="#">IT Courses<i class="fas fa-caret-down"></i></a>
                      <div class="dropdown second">
                        <ul>
                          <li class="dropdown-link">
                            <a href="#">Graphics<i class="fas fa-caret-down"></i></a>
                            <div class="dropdown second">
                              <ul>
                                <li class="dropdown-link">
                                  <a href="it-courses/Graphics/3d-max.html">3D Max</a>
                                </li>
                                <li class="dropdown-link">
                                  <a href="it-courses/Graphics/photoshop.html">Photoshop</a>
                                </li>
                                <li class="dropdown-link">
                                  <a href="it-courses/Graphics/autocad.html">Autocade</a>
                                </li>
                                <div class="arrow"></div>
                              </ul>
                            </div>
                          </li>
                          <li class="dropdown-link">
                            <a href="#">SYS Administration<i class="fas fa-caret-down"></i></a>
                            <div class="dropdown second">
                              <ul>
                                <li class="dropdown-link">
                                  <a href="it-courses/sys-adminstration/mcsa.html">MCSA</a>
                                </li>
                                <div class="arrow"></div>
                              </ul>
                            </div>
                          </li>
                          <li class="dropdown-link">
                            <a href="#">Network<i class="fas fa-caret-down"></i></a>
                            <div class="dropdown second">
                              <ul>
                                <li class="dropdown-link">
                                  <a href="it-courses/network/ccna.html">CCNA</a>
                                </li>
                                <div class="arrow"></div>
                              </ul>
                            </div>
                          </li>
                          <li class="dropdown-link">
                            <a href="#">ICDL<i class="fas fa-caret-down"></i></a>
                            <div class="dropdown second">
                              <ul>
                                <li class="dropdown-link">
                                  <a href="it-courses/icdl/icdl-course.html">ICDL Course</a>
                                </li>
                                <li class="dropdown-link">
                                  <a href="it-courses/icdl/icdl-exam.html">ICDL Exam</a>
                                </li>
                                <div class="arrow"></div>
                              </ul>
                            </div>
                          </li>
                          <div class="arrow"></div>
                        </ul>
                      </div>
                    </li>
                    <li class="dropdown-link">
                      <a href="#">Bussiness Administration Managment Programme<i class="fas fa-caret-down"></i></a>
                      <div class="dropdown second">
                        <ul>
                          <li class="dropdown-link">
                            <a href="bamp/bmc.html">Bussiness Managment Certificate</a>
                          </li>
                          <li class="dropdown-link">
                            <a href="bamp/hrmc.html">Human Resource Managment Certificate</a>
                          </li>
                          <li class="dropdown-link">
                            <a href="bamp/dmm.html">Marketing Certificate</a>
                          </li>
                          <li class="dropdown-link">
                            <a href="bamp/smc.html">School Managment Certificate</a>
                          </li>
                          <li class="dropdown-link">
                            <a href="bamp/pmp.html">PMP Certificate</a>
                          </li>
                          <li class="dropdown-link">
                            <a href="bamp/scm.html">Supply Chain Certificate</a>
                          </li>
                          <li class="dropdown-link">
                            <a href="bamp/hmd.html">Hospital Managment & Ukivq Health Care Certificate</a>
                          </li>
                          <div class="arrow"></div>
                        </ul>
                      </div>
                    </li>
                    <div class="arrow"></div>
                    <li class="dropdown-link">
                      <a href="soft-skills-course.html">Soft Skills Courses</a>
                    </li>
                    <li class="dropdown-link">
                      <a href="#">Teaching Certificate<i class="fas fa-caret-down"></i></a>
                      <div class="dropdown second">
                        <ul>
                          <li class="dropdown-link">
                            <a href="teaching-certificate/teaching-for-preschool.html">Teaching For Preschool
                              (MOTESSORI)</a>
                          </li>
                          <li class="dropdown-link">
                            <a href="teaching-certificate/teaching-english-for-primary.html">Teaching English For
                              Primary</a>
                          </li>
                          <li class="dropdown-link">
                            <a href="teaching-certificate/teaching-math&science.html">Teaching Math & Science</a>
                          </li>
                          <li class="dropdown-link">
                            <a href="teaching-certificate/tefl.html">TEFL</a>
                          </li>
                          <div class="arrow"></div>
                        </ul>
                      </div>
                    </li>
                    <li class="dropdown-link">
                      <a href="online-course.html">Online Courses</a>
                    </li>
                    <li class="dropdown-link">
                      <a href="#">Kids Programme<i class="fas fa-caret-down"></i></a>
                      <div class="dropdown second">
                        <ul>
                          <li class="dropdown-link">
                            <a href="kids-programmes/summer-programmes.html">Summer Programmes</a>
                          </li>
                          <li class="dropdown-link">
                            <a href="kids-programmes/french-for-kids-courses.html">French For kids Courses</a>
                          </li>
                          <div class="arrow"></div>
                        </ul>
                      </div>
                    </li>
                    <div class="arrow"></div>
                  </ul>
                </div>
              </li>
              <li class="nav-link" style="--i: .85s">
                <a href="test-center.html">Testing Center<i class="fas fa-caret-down"></i></a>
                <div class="dropdown">
                  <ul>
                    <li class="dropdown-link">
                      <a href="test-center/toefl-exam.html">TOEFL Exam</a>
                    </li>
                    <li class="dropdown-link">
                      <a href="test-center/icdl-exam.html">ICDL Exam</a>
                    </li>
                    <div class="arrow"></div>
                  </ul>
                </div>
              </li>
              <li class="nav-link" style="--i: 1.35s">
                <a href="preschool.html">Preschool</a>
              </li>
              <li class="nav-link" style="--i: .85s">
                <a href="#">Cambridge University Exams<i class="fas fa-caret-down"></i></a>
                <div class="dropdown">
                  <ul>
                    <li class="dropdown-link">
                      <a href="cambridge-english-exams/cambridge-english-exams-for-school.html">Cambridge English
                        Exams for schools</a>
                    </li>
                    <li class="dropdown-link">
                      <a href="cambridge-english-exams/cambridge-general-and-bussiness-english-exams.html">Cambridge
                        general and bussiness english exams</a>
                    </li>
                    <li class="dropdown-link">
                      <a href="cambridge-english-exams/cambridge-teaching-exams.html">Cambridge teaching exams</a>
                    </li>
                    <div class="arrow"></div>
                  </ul>
                </div>
              </li>
              <li class="nav-link" style="--i: .85s">
                <a href="contact-us.html">Contact Us<i class="fas fa-caret-down"></i></a>
                <div class="dropdown">
                  <ul>
                    <li class="dropdown-link">
                      <a href="contact-info.html">Contact Info<i class="fas fa-caret-down"></i></a>
                      <div class="dropdown second">
                        <ul>
                          <li class="dropdown-link">
                            <a href="head-office.html">Head Office</a>
                          </li>
                          <li class="dropdown-link">
                            <a href="maadi-branch.html">Maadi Branch</a>
                          </li>
                          <div class="arrow"></div>
                        </ul>
                      </div>
                    </li>
                    <li class="dropdown-link">
                      <a href="complains&iNQ.html">Complains&INQ</a>
                    </li>
                    <div class="arrow"></div>
                  </ul>
                </div>
              </li>
              <li class="nav-link" style="--i: 1.35s">
                <a href="online-payment.html">Online Payment</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="hamburger-menu-container">
          <div class="hamburger-menu">
            <div></div>
          </div>
        </div>
      </div>
    </header>
  </section>

  <div class="container d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="row">
      <div class="col-9">
        <div class="row">
          <form name="3dsRedirect" action="<%= echoForm %>" method="POST" accept-charset="UTF-8">
            <!-- Populate the mandatory PaReq parameter with the value returned in the 3DSecure.authenticationRedirect.customized.paReq response parameter.  -->
            <input type="hidden" name="PaReq" value="<%= pareq %>" />
            <!-- Populate the mandatory TermUrl value with the URL to which you want the payer returned when the authentication process has completed. This should be the same value as supplied in the 3DSecure.authenticationRedirect.responseUrl  parameter to the CHECK_ENROLLMENT request. -->
            <input type="hidden" name="TermUrl" value="<%= termUrl %>" />
            <!-- The ACS will echo the contents of the mandatory MD parameter when the payer is returned to the URL specified in the TermUrl parameter.  You can use this parameter to establish a link between the ACS request and response. -->
            <input type="hidden" name="MD" value="<%= md %>" />
            <button class="btn btn-primary">Click here to continue</button>
          </form>
        </div>
        <!-- row -->
      </div>
    </div>

    <script src="js/custom.js"></script>
</body>

</html>
